<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smoke -h</title>
<link href="/public/css/react.index.css" rel="stylesheet"></head>

<body>
    <div id="root"><%- reactApp %></div>
<script src="/public/js/react.index.js"></script><script src="/public/js/index.js"></script></body>

</html>